[Unit]
Description=Service for the Baikal docker container
Requires=docker
After=docker

[Service]
WorkingDirectory=/etc/baikal
#Environment=COMPOSE_FILE=/etc/baikal/docker-compose.yml
ExecStart=/usr/local/bin/docker-compose up baikal
ExecReload=/usr/local/bin/docker-compose restart --force-recreate baikal
ExecStop=/usr/local/bin/docker-compose stop baikal

[Install]
WantedBy=multi-user.target
