# Docker Compose file for a Baikal server with Let's Encrypt using Traefik (https://docs.traefik.io/)
#
# The acme.json file must exist before you run docker-compose up.
#
# 1. Adjust host in line 14
# 2. Create acme.json: touch /etc/ssl/private/acme.json
# 3. Start the stack: docker-compose -f docker-compose.ssl.yaml up

version: "2"
services:
  baikal:
    image: ckulka/baikal:nginx
    restart: always
    labels:
      traefik.enable: "true"
      traefik.frontend.rule: "Host: dav.example.com"
      traefik.port: 80
      # Required for iOS, see https://github.com/ckulka/baikal-docker/issues/37
      traefik.http.middlewares.baikal-dav.redirectregex.regex: "https://(.*)/.well-known/(card|cal)dav"
      traefik.http.middlewares.baikal-dav.redirectregex.replacement: "https://$$1/dav.php/"
      traefik.http.middlewares.baikal-dav.redirectregex.permanent: "true"
      traefik.http.routers.baikal.middlewares: "baikal-dav"

    volumes:
      - config:/var/www/baikal/config
      - data:/var/www/baikal/Specific

  # See https://docs.traefik.io/
  traefik:
    image: traefik:2.3
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/ssl/private/acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      # See https://doc.traefik.io/traefik/observability/access-logs/
      - --accesslog
      # See https://doc.traefik.io/traefik/routing/entrypoints/#redirection
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      # See https://doc.traefik.io/traefik/https/acme/
      - --certificatesresolvers.letsencrypt.acme.email=cyrill.kulka@gmail.com
      - --certificatesresolvers.letsencrypt.acme.storage=/acme.json
      # - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.letsencrypt.acme.tlschallenge

      # https://doc.traefik.io/traefik/providers/docker/
      - --providers.docker
      - --providers.docker.exposedByDefault=false

volumes:
  config:
  data:
