# Updates the Docker Hub description with the contents of the README.md file
name: Docker Hub Description

on:
  release:
    types:
      - published
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ckulka/baikal
          short-description: ${{ github.event.repository.description }}
